{% extends "base.html" %}

{% block header %}
<h1>Log In</h1>
{% endblock %}
  {% block content %}

  {% for msg in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
      {{msg}}
    </div>
  {% endfor %}

  <form action="/passwordreset" method="POST">

    {{ form.hidden_tag() }} <!--add type=hidden form fields -->
    
    {% for field in form
           if field.widget.input_type != 'hidden' %}
    
      <p>
        {{ field.label }}
        {{ field }}
    
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
    
    {% endfor %}
    
    <button type="submit">Submit</button>
    </form>

  {% endblock %}
